@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(0, 0, 0, 1);
  --blue-shadeb05: rgba(236, 238, 250, 1);
  --blue-shadeb1: rgba(217, 220, 245, 1);
  --blue-shadeb2: rgba(180, 185, 235, 1);
  --blue-shadeb3: rgba(142, 151, 224, 1);
  --blue-shadeb4: rgba(105, 116, 214, 1);
  --blue-shadeb5: rgba(67, 81, 204, 1);
  --blue-shadeb6: rgba(54, 65, 163, 1);
  --blue-shadeb7: rgba(40, 49, 122, 1);
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --collection-1-active-citizen-r: rgba(188, 32, 32, 1);
  --collection-1-active-citizen-r-sl: rgba(237, 220, 220, 1);
  --collection-1-active-citizen-r2: rgba(191, 80, 77, 1);
  --collection-1-b-sl: rgba(231, 234, 255, 1);
  --collection-1-black-shade-bl2: rgba(139, 140, 141, 1);
  --collection-1-black-shade-bl4: rgba(80, 81, 82, 1);
  --collection-1-black-shade-bl5: rgba(50, 51, 52, 1);
  --collection-1-black-shade-bl6: rgba(40, 41, 42, 1);
  --collection-1-black-sl: rgba(235, 234, 234, 1);
  --collection-1-co-creator-or: rgba(246, 127, 76, 1);
  --collection-1-co-creator-or1: rgba(229, 102, 47, 1);
  --collection-1-co-creator-orbg: rgba(255, 235, 227, 1);
  --collection-1-color: rgba(255, 255, 255, 1);
  --collection-1-core-sk1: rgba(34, 145, 207, 1);
  --collection-1-core-sk2: rgba(59, 163, 238, 1);
  --collection-1-core-skybg: rgba(229, 244, 253, 1);
  --collection-1-electives-brown: rgba(163, 115, 88, 1);
  --collection-1-electives-brown-sl: rgba(245, 230, 222, 1);
  --collection-1-electives-brown1: rgba(137, 73, 37, 1);
  --collection-1-gr9: rgba(105, 102, 101, 1);
  --collection-1-r-sl2: rgba(249, 227, 227, 1);
  --collection-1-rbg: rgba(191, 80, 77, 0.15);
  --collection-1-white-shade-w10: rgba(93, 93, 106, 1);
  --collection-1-white-shade-w5: rgba(247, 247, 248, 1);
  --collection-1-white-shade-w6: rgba(216, 216, 220, 1);
  --collection-1-white-shade-w7: rgba(185, 185, 191, 1);
  --collection-1-white-shade-w8: rgba(155, 155, 163, 1);
  --collection-1-white-shade-w9: rgba(124, 124, 134, 1);
  --collection-1-ybg: rgba(254, 248, 231, 1);
  --collection-1-yellow-shade-y0-5: rgba(254, 251, 239, 1);
  --collection-1-yellow-shade-y1: rgba(254, 246, 223, 1);
  --collection-1-yellow-shade-y10: rgba(45, 34, 2, 1);
  --collection-1-yellow-shade-y2: rgba(253, 237, 190, 1);
  --collection-1-yellow-shade-y3: rgba(251, 229, 158, 1);
  --collection-1-yellow-shade-y5: rgba(249, 211, 93, 1);
  --collection-1-yellow-shade-y5-5: rgb(240, 195, 47);
  --collection-1-yellow-shade-y6: rgba(208, 176, 75, 1);
  --collection-1-yellow-shade-y7: rgba(167, 140, 57, 1);
  --collection-1-yellow-shade-y8: rgba(127, 105, 38, 1);
  --collection-1-yellow-shade-ybg: rgba(255, 248, 226, 1);
  --gray-shadegr05: rgba(251, 251, 251, 1);
  --gray-shadegr10: rgba(76, 73, 73, 1);
  --gray-shadegr3: rgba(234, 232, 231, 1);
  --gray-shadegr5: rgba(220, 216, 215, 1);
  --gray-shadegr6: rgba(191, 186, 185, 1);
  --gray-shadegr95: rgba(92, 89, 88, 1);
  --h1-font-family: "IBM Plex Sans Thai", sans-serif;
  --h1-font-size: 24px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h2-font-family: "IBM Plex Sans Thai", sans-serif;
  --h2-font-size: 20px;
  --h2-font-style: normal;
  --h2-font-weight: 500;
  --h2-letter-spacing: 0px;
  --h2-line-height: 131.25%;
  --h3-font-family: "IBM Plex Sans Thai", sans-serif;
  --h3-font-size: 24px;
  --h3-font-style: normal;
  --h3-font-weight: 500;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h4-font-family: "IBM Plex Sans Thai", sans-serif;
  --h4-font-size: 20px;
  --h4-font-style: normal;
  --h4-font-weight: 500;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h5-font-family: "IBM Plex Sans Thai", sans-serif;
  --h5-font-size: 16px;
  --h5-font-style: normal;
  --h5-font-weight: 700;
  --h5-letter-spacing: 0px;
  --h5-line-height: normal;
  --h6-font-family: "IBM Plex Sans Thai", sans-serif;
  --h6-font-size: 16px;
  --h6-font-style: normal;
  --h6-font-weight: 500;
  --h6-letter-spacing: 0px;
  --h6-line-height: normal;
  --h7-font-family: "IBM Plex Sans Thai", sans-serif;
  --h7-font-size: 16px;
  --h7-font-style: normal;
  --h7-font-weight: 400;
  --h7-letter-spacing: 0px;
  --h7-line-height: normal;
  --sd-1: 0px -1px 8.399999618530273px 0px rgba(0, 0, 0, 0.1);
  --white: rgba(255, 255, 255, 1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

h1 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  color: var(--collection-1-black-shade-bl5);
}

h2 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: var(--h2-font-size);
  font-style: var(--h2-font-style);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  color: var(--collection-1-black-shade-bl5);
}

h3 {
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  color: var(--collection-1-black-shade-bl5);
}

h4 {
  font-size: var(--h4-font-size);
  font-style: var(--h4-font-style);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  color: var(--collection-1-black-shade-bl5);
}

h5 {
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  color: var(--collection-1-black-shade-bl5);
}

h6 {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: var(--h6-font-size);
  font-style: var(--h6-font-style);
  font-weight: var(--h6-font-weight);
  letter-spacing: var(--h6-letter-spacing);
  line-height: var(--h6-line-height);
  color: var(--collection-1-black-shade-bl5);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div.customHandle {
  width: 50%;
  height: 100%;
  position: left;
  top: 0;
  right: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}
